@import "firefox-gnome-theme/userContent.css";


@media{ /* Image preview */
	html { background-image: none !important }
} 

:root { /* PDF */
	--body-bg-color: #1E1E27 !important; 
}

.toolbar {
	display: none !important;
}

#outerContainer {
	top: -32px !important;
	height: 102.6% !important;
	position: fixed !important;
}

.textLayer {
	box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
}