@import "firefox-gnome-theme/userContent.css";

:root {
	--body-bg-color: rgba(238, 238, 239, 1) !important; /* PDF */
}

.toolbar {
	display: none !important;
}

#outerContainer {
	top: -32px !important;
	height: 102.6% !important;
	position: fixed !important;
}

.textLayer {
	box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
}
