@import "firefox-gnome-theme/userChrome.css";
/* @import "tweaks/prevent-tab-overflow.css"; */
@import "tweaks/floating-findbar.css";
@import "tweaks/minimal-ext-menu.css";


/* Icon color fix */
:root {
	--gnome-icons-hack-filter: invert(100%) sepia(0.35) hue-rotate(20deg) brightness(1.05) !important;
}

#downloads-button, #downloads-indicator-icon .toolbarbutton-icon {
	filter: none !important;
}

/* Default window background */
browser,
#tabbrowser-tabpanels {
	background-color: #1E1E27 !important;
}

/* Hide UI elements */
#reader-mode-button, #pageActionButton, #new-tab-button,
#tabbrowser-arrowscrollbox-periphery, #fxa-toolbar-menu-button,
#identity-permission-box, #stop-reload-button {
	display: none !important;
}

/* PWA: hide the tabs, titlebar, headers, etc. */
/* #titlebar, #navigator-toolbox {
	visibility: collapse !important;
} */

/* Hardcode unfocused colors (doesn't inherit theme) */
:root:-moz-window-inactive {
	--gnome-tabbar-tab-active-background: #3A3A46 !important; 
	--gnome-headerbar-background: #2A2A37 !important;
}

toolbarbutton#alltabs-button {
	display: none !important;
}

/* PiP */
@-moz-document url("chrome://global/content/pictureinpicture/player.xhtml") {
	div.controls-bottom-lower { display: none !important; }
}

label#userContext-label { /* Container label */
	display: none;
}

/* Container add-on */
.identity-icon-circle {
	height: 12px !important;
}
hbox.urlbar-addon-page-action {
	display: none;
}
