.titlebar-buttonbox-container {
	padding: 0 !important;
}

/* Hide UI elements */
toolbarbutton#alltabs-button, hbox.urlbar-addon-page-action
#reader-mode-button, #pageActionButton, #new-tab-button,
#tabbrowser-arrowscrollbox-periphery, #fxa-toolbar-menu-button,
#identity-permission-box, #stop-reload-button {
	display: none !important;
}

#navigator-toolbox[fullscreenShouldAnimate] {
	transition-duration: 0.3s !important;
}

/* PiP */
@-moz-document url("chrome://global/content/pictureinpicture/player.xhtml") {
	div.controls-bottom-lower { display: none !important; }
	#browser[type="content"] { margin: -1vh -1vw !important; }
	button#close, button#unpip { display: none !important; }
	#scrubber, button#unpip { filter: sepia(35%); }
}
