/* use Kana + smaller UI */

window#osd {
    border: 1px solid alpha(#4E4E62, 0.9);
    border-radius: 999px;
    background: alpha(#2A2A37, 0.9);
}

window#osd #container {
    margin: 18px 22px;
}

window#osd image {
    -gtk-icon-transform: scale(0.6);
    margin: -12px;
    margin-right: -4px;
    color: #DCD7BA;
}

window#osd progressbar {
    min-height: 4px;
    /* min-width: 100px; */
}

window#osd trough {
    min-height: inherit;
    border-radius: 999px;
    background: alpha(#DCD7BA, 0.25);
}

window#osd progress {
    min-height: inherit;
    border-radius: 999px;
    background: #DCD7BA;
}
