/* :root {
	font-size: 10px
} */

p, center, h5, h6, ul, ol, dl {
	font-family: "IBM Plex Sans";
}

img {
	margin: auto;
	display: block;
	padding: 10px;
	border: 1px solid #30343a;
	border-radius: .5em;
}


h1,
h2,
h3,
h4 {
	font-family: "IBM Plex Sans";
	font-weight: 700;
	margin-bottom: 5px;
}

h1 {
	font-size: xx-large;
	text-align: center;
}

h5,
h6 {
	font-size: xx-small;
	text-align: center;
	font-weight: normal;
	margin-bottom: 2em;
	opacity: .8;
}

code {
	font-size: .92rem !important;
	/* line-height: normal; */
	font-family: Hack;
}

/* Highlighting */
.vscode-dark mark {
	color: white;
	background-color: #816e398a;
	border: 1px dotted #f9d3428a;
	border-radius: 2px;
	padding: 2px;
	padding-top: 1px;
}

/* Code fence */
.vscode-dark pre:not(.hljs),
.vscode-dark code>div {
	line-height: 1.25em;
	background-color: #0a0a0a;
	border-radius: 5px;
}

/* Code fence container */
.vscode-dark pre:not(.hljs) {
	border: 1px solid #30343a;
}

/* (Out)lines */
h1, hr, table>tbody>tr+tr>td {
	border-bottom: 1px solid #5C6370;
}

/* Lists */
ul, ol, dl {
	page-break-before: avoid;
}

/* Quotes */
blockquote {
	padding-left: 1em;
	border-radius: 0 2px 2px 0;
}

.vscode-dark a {
	color: #6f9dfa;
}

/* ——— Light-specific ————————— */

/* Code fence */
.vscode-light pre:not(.hljs),
.vscode-light code>div {
	line-height: 1.25em;
	background-color: white;
	border-radius: 5px;
}

/* Code fence container */
.vscode-light pre:not(.hljs) {
	border: 1px solid #5C6370;
}

.vscode-light a {
	color: #0060ff;
}


.vscode-light img {
	/* filter: invert(0.4); */
}

.vscode-light code {
	color: #902a00;
}

.vscode-light mark {
	color: black;
	background-color: #fae17d80;
	border: 1px dotted #ffcc00;
	border-radius: 2px;
	padding: 2px;
}

.vscode-light blockquote {
	border-left: 2px solid #3c3c3c;
	background: rgba(127, 127, 127, 0.1);
}