body {
	font-family: "sans-serif";
	--hl: 255, 225, 0;
}

img {
	margin: auto;
	display: block;
	margin: 10px;
	border-radius: 5px;
}

h1 { text-align: center; }

ul, ol, dl { page-break-before: avoid; }

h1, h2, h3, h4, h5, h6 { /* font-weight: 700; */ margin-bottom: 10px; }

code { font-size: 95% !important; }

pre { /* width: fit-content; */ }

mark { padding: 1px; margin: -1px; }

blockquote { border-radius: 5px; }

pre:not(.hljs), pre.hljs code>div { /* Code blocks */
	border-radius: 5px;
	border: 1px solid var(--vscode-widget-border, transparent);
}

*:has(+ ul), *:has(+ ol) { margin-bottom: 0.5em !important; }

p:has(+ ul), p:has(+ ol) { margin-bottom: 0 !important; }

code { line-height: inherit;}
pre code { line-height: 1.75em; }

.vscode-dark {
	mark {
		color: color-mix(in srgb, var(--vscode-editor-foreground) 75%, white);
		background-color: rgba(var(--hl), 25%);
	}
	img {
		filter: invert(0.925) hue-rotate(180deg) sepia(0.35);
	}
}

.vscode-light {
	mark {
		background-color: rgba(var(--hl), 50%);
	}
}
