// TODO: systemd/*
spawn-sh-at-startup "play -q $HOME/audio/sounds/greet.flac &"
spawn-sh-at-startup "xhost +SI:localuser:root"
spawn-sh-at-startup "xsetroot -cursor_name left_ptr"

include "desktop.kdl"

input {
    keyboard {
        repeat-delay 500
        repeat-rate 25
    }

    mouse {
        scroll-factor 1.25
        accel-profile "flat"
    }

    // warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="10%"

    touchpad {
        tap
        natural-scroll
        scroll-factor 0.8
    }
}

gestures {
    hot-corners {
        off
    }
}

prefer-no-csd

layout {
    gaps 10
    background-color "#0A0815"
    
    struts {
        left -5; right  -5
        top  -5; bottom -5
    }

    // default-column-width { proportion 0.5; }

    tab-indicator {
        gap 6
        place-within-column
    }
    
    border {
        width 1
        active-color "#505065"
        inactive-color "#3F3F50"
        urgent-color "#E67B7F"
    }

    focus-ring {
        width 1.5
        active-color "#B9C3FF"
        inactive-color "00000000"
        urgent-color "#E67B7F"
    }
}

recent-windows {
    open-delay-ms 0

    highlight {
        active-color "#71718E"
        urgent-color "#E67B7F"

        corner-radius 12
    }
    binds {
        Mod+Tab { next-window; }
    }
}

overview {
    backdrop-color "#0A0815"
    workspace-shadow {
        off
    }
}

blur {
    passes 4
    noise 0.06
    saturation 4.0
}

window-rule {
    // min-width 360; min-height 240  // 3:2, sane
    geometry-corner-radius 8
    clip-to-geometry true
}

binds {
    // Media control keys
    XF86AudioMute allow-when-locked=true { spawn-sh "$SCRIPTS/amute.sh -t"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "swayosd-client --output-volume +5"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "swayosd-client --output-volume -5"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn-sh "$SCRIPTS/brightness +5"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn-sh "$SCRIPTS/brightness -5"; }
    XF86AudioPlay allow-when-locked=true { spawn-sh "$SCRIPTS/play-pause"; }
    XF86AudioPrev allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext allow-when-locked=true { spawn-sh "playerctl next"; }

    // Applications
    Mod+Equal { spawn-sh "hyprpicker -a"; }
    Mod+Delete { spawn-sh "kill -9 $(niri msg -j pick-window | jq .pid)"; }
    Mod+Slash { spawn-sh "nirius focus-or-spawn --app-id='com.mitchellh.ghostty' -- ghostty"; }
    Mod+Shift+Slash { spawn-sh "ghostty"; }
    Mod+W { spawn-sh "nirius focus-or-spawn --app-id='.*helium' -- gtk-launch helium.desktop"; }
    Mod+Shift+W { spawn-sh "gtk-launch helium.desktop"; }
    Mod+E { spawn-sh "nirius focus-or-spawn --app-id='.*Nautilus' -- nautilus -w"; }
    Mod+Shift+E { spawn-sh "nautilus -w"; }
    Mod+C { spawn-sh "nirius focus-or-spawn --app-id='code|cursor' -- cursor"; }
    Mod+Shift+C { spawn-sh "cursor"; }
    Mod+Comma { spawn-sh "nirius focus-or-spawn --app-id='Slack' -- slack"; }
    Mod+Shift+Comma { spawn-sh "slack"; }
    Mod+D { spawn-sh "toggle-color-scheme"; }

    Mod+Q { close-window; }
    Mod+F { fullscreen-window; }
    Mod+Space { spawn-sh "$SCRIPTS/screenshot"; }
    Mod+Shift+Space { spawn-sh "$SCRIPTS/record"; }
    Mod+A { spawn-sh "flatpak run com.saivert.pwvucontrol"; }
    Mod+Grave { spawn-sh "flatpak run net.nokyan.Resources"; }

    XF86Search { spawn-sh "vicinae vicinae://toggle"; }
    Mod+S { spawn-sh "vicinae vicinae://launch/files/search?toggle=true"; }
    Mod+Period { spawn-sh "vicinae vicinae://launch/core/search-emojis?toggle=true"; }
    Mod+V { spawn-sh "vicinae vicinae://launch/clipboard/history?toggle=true"; }
    Mod+Backspace { spawn-sh "hyprlock --immediate"; }

    // Movement and focus
    Mod+J { focus-column-or-monitor-left; }
    Mod+L { focus-column-or-monitor-right; }
    Mod+I { focus-window-or-workspace-up; }
    Mod+K { focus-window-or-workspace-down; }

    Mod+Shift+J { consume-or-expel-window-left; }
    Mod+Shift+L { consume-or-expel-window-right; }
    Mod+Shift+I { move-window-up; }
    Mod+Shift+K { move-window-down; }

    Mod+Left { move-column-left-or-to-monitor-left; }
    Mod+Right { move-column-right-or-to-monitor-right; }
    Mod+Up { move-column-to-workspace-up; }
    Mod+Down { move-column-to-workspace-down; }

    // Workspaces
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }

    // Column width cycling
    Mod+BracketLeft { set-column-width "-20%"; }
    Mod+BracketRight { set-column-width "+20%"; }
    Mod+Shift+BracketRight { set-window-height "-20%"; }
    Mod+Shift+BracketLeft { set-window-height "+20%"; }

    Mod+M { spawn-sh \
        "niri msg action maximize-column && niri msg action reset-window-height";
    }
    // Mod+Period { center-column; }
}

cursor {
    xcursor-theme "Google"
    xcursor-size 28

    hide-when-typing
    hide-after-inactive-ms 3000
}

hotkey-overlay {
    skip-at-startup
}


window-rule {  // floating windows
    match is-floating=true
    geometry-corner-radius 12

    shadow {
        on
        spread 1
        softness 25
        color "#08000A54"
    }
}

layer-rule {
    geometry-corner-radius 12

    shadow {
        on
        spread 1
        softness 25
        color "#08000A54"
    }
}

layer-rule {
    match namespace="vicinae|swayosd|notifications"

    background-effect {
        blur true
        xray false
    }
}

layer-rule {
    match namespace="swayosd"

    geometry-corner-radius 999
}

window-rule {  // float
    match app-id="^(chrome-|xdg-)"
    match app-id="mpv|scrcpy|.*Loupe|GStreamer"
    match app-id=".*(NautilusPreviewer|Calculator)$" 
    match title="^(Sign in|Picture in picture|Meet)"

    open-floating true
}

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORMTHEME "xdgdesktopportal"
    QT_QPA_PLATFORM "wayland"
}
