// TODO: systemd/*
spawn-sh-at-startup "hyprlock --immediate"
spawn-sh-at-startup "play -q $HOME/audio/sounds/greet.flac &"
spawn-sh-at-startup "firefox & code & sleep 2s && kitty"  // scuffed

input {
    keyboard {
        repeat-delay 500
        repeat-rate 25
    }

    mouse {
        scroll-factor 1.25
    }

    // warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="10%"
}

gestures {
    hot-corners {
        off
    }
}

prefer-no-csd

layout {
    gaps 12
    background-color "#0A0815"
    
    struts {
        left -5; right  -5
        top  -5; bottom -5
    }

    // default-column-width { proportion 0.5; }

    tab-indicator {
        gap 6
        place-within-column
    }
    
    border {
        width 1
        active-color "#2A2A37"
        inactive-color "#2A2A37"
        urgent-color "#E67B7F"
    }

    focus-ring {
        width 1
        active-color "#3F3F50"
        urgent-color "#E67B7F"
    }
}

overview {
    backdrop-color "#0A0815"
    workspace-shadow {
        off
    }
}

window-rule {
    // min-width 360; min-height 240  // 3:2, sane
    geometry-corner-radius 8
    clip-to-geometry true
}

binds {
    // Media control keys
    XF86AudioMute allow-when-locked=true { spawn-sh "$SCRIPTS/amute.sh -t"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "swayosd-client --output-volume +5"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "swayosd-client --output-volume -5"; }
    XF86AudioPlay allow-when-locked=true { spawn-sh "$SCRIPTS/player.sh"; }
    XF86AudioPrev allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext allow-when-locked=true { spawn-sh "playerctl next"; }

    // Applications
    Mod+Equal { spawn-sh "hyprpicker -a"; }
    Mod+Delete { spawn-sh "kill -9 $(niri msg -j pick-window | jq .pid)"; }
    Mod+Slash { spawn-sh "nirius focus-or-spawn --app-id='kitty' -- kitty"; }
    Mod+Shift+Slash { spawn-sh "kitty"; }
    Mod+W { spawn-sh "nirius focus-or-spawn --app-id='.*firefox' -- firefox"; }
    Mod+Shift+W { spawn-sh "firefox"; }
    Mod+E { spawn-sh "nirius focus-or-spawn --app-id='.*Nautilus' -- nautilus -w"; }
    Mod+Shift+E { spawn-sh "nautilus -w"; }
    Mod+C { spawn-sh "nirius focus-or-spawn --app-id='code' -- code"; }
    Mod+Shift+C { spawn-sh "code"; }

    Mod+Q { close-window; }
    Mod+F { fullscreen-window; }
    Mod+A { spawn-sh "flatpak run com.saivert.pwvucontrol"; }
    Mod+Space { screenshot; }
    Mod+Grave { spawn-sh "flatpak run net.nokyan.Resources"; }
    Mod+D { spawn-sh "flatpak run io.github.nokse22.inspector"; }

    XF86Search { spawn-sh "vicinae vicinae://toggle"; }
    Mod+S { spawn-sh "vicinae vicinae://extensions/vicinae/file/search"; }
    Mod+Period { spawn-sh "vicinae vicinae://extensions/vicinae/vicinae/search-emojis"; }
    Mod+V { spawn-sh "vicinae vicinae://extensions/vicinae/clipboard/history"; }
    Mod+B { spawn-sh "vicinae vicinae://extensions/Gelei/bluetooth/devices"; }
    Mod+Shift+B { spawn-sh "vicinae vicinae://extensions/Gelei/bluetooth/scan"; }
    Mod+Backspace { spawn-sh "hyprlock --immediate"; }

    // Movement and focus
    Mod+J { focus-column-left; }
    Mod+L { focus-column-right; }
    Mod+I { focus-window-up; }
    Mod+K { focus-window-down; }

    Mod+Shift+J { consume-or-expel-window-left; }
    Mod+Shift+L { consume-or-expel-window-right; }
    Mod+Shift+I { move-window-up; }
    Mod+Shift+K { move-window-down; }

    Mod+Ctrl+J { move-column-left; }
    Mod+Ctrl+L { move-column-right; }

    Mod+Left { move-column-left; }
    Mod+Right { move-column-right; }

    // Workspaces
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }

    // Column width cycling
    Mod+BracketLeft { set-column-width "-20%"; }
    Mod+BracketRight { set-column-width "+20%"; }
    Mod+Shift+BracketRight { set-window-height "-20%"; }
    Mod+Shift+BracketLeft { set-window-height "+20%"; }

    Mod+Tab { toggle-column-tabbed-display; }
    Mod+M { spawn-sh "niri msg action maximize-column && niri msg action reset-window-height"; }
    // Mod+Period { center-column; }
}

cursor {
    xcursor-theme "Google"
    xcursor-size 20

    hide-when-typing
    hide-after-inactive-ms 3000
}

hotkey-overlay {
    skip-at-startup
}

window-rule {  // firefox PiP
    match app-id=".*firefox$" title="^Picture-in-Picture$"

    open-floating true; open-focused false

    // min-width 560; min-height 315  // 16:9
    // max-width 560; max-height 315

    default-floating-position x=50 y=50 relative-to="bottom-right"
}

window-rule {  // floating windows
    match is-floating=true
    geometry-corner-radius 12

    border {
        inactive-color "#32323D"
    }

    shadow {
        on
        spread 1
        softness 30
        color "#08000A54"
    }
}

layer-rule {
    geometry-corner-radius 12

    shadow {
        on
        spread 1
        softness 30
        color "#08000A54"
    }
}

layer-rule {
    match namespace="swayosd"
    geometry-corner-radius 999
}

window-rule {  // media
    match app-id="mpv|scrcpy|.*Loupe|.*Celluloid"
    match app-id=".*firefox$" title="^Picture-in-Picture$"
    
    open-floating true
    border {
        active-color "#595970"
        inactive-color "#3F3F50"
    }

    focus-ring {
        active-color "#59597075"
    }
}

// TODO:
window-rule {  // applets
    match app-id=".*(NautilusPreviewer|Vaults|Recorder|Decibels|Calculator|pwvucontrol|inspector)$" 
    open-floating true
}

window-rule {  // applets (tiled)
    match app-id=".*Nautilus|Fragments|Resources|kitty"
    default-column-width { proportion 0.25; }
}

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORM "wayland"
}
