@theme "adwaita"

configuration {
	show-icons: false;
	/* steal-focus: true; */

	display-drun: "RUN";
	display-clipboard: "COPY";
	display-filebrowser: "files";
	drun-display-format: "{name}";
	font: "Akkurat 11";
	eh: 1;
	/* dpi: 92; */
	/* yoffset: -100; */
	xoffset: 650;
	
	filebrowser {
	/*	directory: "/home";*/
		directories-first: true;
		sorting-method: "name";
	}
}
