@theme "adwaita"

configuration {
  show-icons: false;
  hover-select: true;
  /* steal-focus: true; */

  display-drun: "";
  drun-display-format: "{name}";
  font: "Akkurat 11";
  eh: 1;
  /* dpi: 92; */
  yoffset: 20;
  /* xoffset: 750; */
  kb-row-left: "Left";
  kb-row-right: "Right";
  kb-move-char-back: "";
  kb-move-char-forward: "";

  filebrowser {
  /*	directory: "/home";*/
    directories-first: true;
    sorting-method: "name";
  }
}
