[Unit]
Description=Battery monitor daemon
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=batsignal -n BAT0 \
  -I battery-level-20-symbolic -W "Battery low" \
  -I battery-level-10-symbolic -C "Charge immediately" \
  -d 3 -D "systemctl suspend"
Restart=on-failure

[Install]
WantedBy=graphical-session.target
