/* Show servers on hover */
.wrapper-1_HaEi {
    width: 12px;
    transition-duration: .5s;
}

.wrapper-1_HaEi:hover {
    width: 72px;
}

/* Hiding buttons */

[aria-label="Add Friends to DM"],
[aria-label="Show User Profile"],
[aria-label="Show User Profile (Unavailable)"],

[aria-label="Hide User Profile"],
[aria-label="Help"],

[aria-label="Show Member List"]
{
    display: none;
}

/* Rounded corners */
.chat-2ZfjoI {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

#app-mount .layer-86YKbF ~ .layer-86YKbF > div,
#app-mount .layer-86YKbF ~ .layer-86YKbF .standardSidebarView-E9Pc3j {
    border-radius: 10px !important;
    border: 1px solid #595959;
}