/* Show servers on hover */

/* nav[aria-label="Hide User Profile"] {
  width: 12px;
  transition-duration: .5s;
}

nav[aria-label="Hide User Profile"]:hover {
  width: 72px;
} */

/* Hiding buttons */

[aria-label="Add Friends to DM"],
[aria-label="Show User Profile"],
[aria-label="Show User Profile (Unavailable)"],
[aria-label="Hide User Profile"],
[aria-label="Help"],
[aria-label="Show Member List"] {
    display: none;
}

div.interactive__776ee.interactive_a868bc.linkButton_ebd2ba,
h2.privateChannelsHeaderContainer_ddcec6.container_de798d {
  display: none;
}
